<html>
<head>
    <title> All diseases and medicines-user </title>
</head>
{% include 'logo.html' %}
{% include 'usermenu.html' %}
<body bgcolor="#e9967a">
<br>
{% if data %}
<table align="center" border="2">
    <center> <h1> E-Healthcare Advisor </h1></center>
    <tr> <th colspan="4"> <h3> ALL MEDICINES </h3></th></tr>
    <tr>
        <th> Disease Name </th>
        <th> Symptoms </th>
        <th> Medicine Name  </th>
        <th> Medicine Description  </th>
    </tr>
    {% for x in object_list %}
    <tr>
        <th> {{ x.diseasename }} </th>
        <th> {{ x.symptomname }} </th>
        <th> {{ x.medicinename }} </th>
        <th> {{ x.medicinedescription }} </th>
    </tr>
    {% endfor %}
</table>
{% else %}
<center> <b> Sorry, no data is available </b> </center>
{% endif %}
<br>
<center>
    <a href="/backdisplaydiseases/">
        Back
    </a>
</center>
</body>
</html>