{% load staticfiles %}
<html>
<head>
    <title> Contact Us - HOME </title>
</head>
<body>
{% include 'logo.html' %}
<br> <br> <br>

{% include 'menu.html' %}

<br> <br> <br>
<table align="left">
                <tr> <th>
                    <img src="{% static 'images/pics02.jpg' %}" width="700" height="200">
                </th> </tr>
</table>
<br>
<table align="center">
                <tr> <th>  Company Name : Ventech </th> </tr>
                <tr> <th>  Contact Number : 3456781 </th> </tr>
                <tr> <th>  Address : abcdef </th> </tr>
</table>
</body>
</html>