<html>
<head>
    <title> Update Medicine - Admin </title>
</head>
{% include 'logo.html' %}
{% include 'adminmenu.html' %}
<br> <br>
<body bgcolor="#fff8dc">
<form action="/updatesavemedicine/" method="post">
    {% csrf_token %}
<table align="center" border="0">
    {% for x in data %}
        <tr> <th> <h3> Update Medicine </h3></th></tr>
    <tr> <th> Medicine Name: <input type="text" value="{{ x.medicinename }}" name="mname" readonly> </th> </tr>
    <tr> <th> <br> <br> Medicine Description : <input type="text" value="{{ x.medicinedescription }}" name="mdescr"> </th> </tr>
    <tr> <th> <br> <br> <button type="submit"> Update </button> </th></tr>
        {% endfor %}
</table>
</form>
</body>
</html>

