{% load staticfiles %}
<html>
<head>
    <title> View Patients Report From Menu </title>
</head>
<center><h1> E-Healthcare Advisor </h1></center>
<img src="{% static 'images/img02.jpg' %}" width="1500" height="400">
{% include 'menu.html' %}
<br> <br>
<body bgcolor="#f0fff0">
<table align="center" border="1">
    <tr> <th colspan="6"> <h2> ALL REGISTERED USERS </h2></th></tr>
    <tr>
        <th width="100"> FIRST NAME</th>
        <th width="100"> LAST NAME</th>
        <th width="100"> AGE </th>
        <th width="100"> GENDER </th>
        <th width="100"> ADDRESS </th>
    </tr>
    {% for x in object_list %}
    <tr>
        <th width="100"> {{ x.firstname }}</th>
        <th width="100"> {{ x.lastname }}</th>
        <th width="100"> {{ x.age }} </th>
        <th width="100"> {{ x.gender }}</th>
        <th width="100"> {{ x.address }} </th>
    </tr>
    {% endfor %}
</table>
<center>
    <h3>
        <a href="/backusermenu/"> Back </a>
    </h3>
</center>
</body>
</html>